.featuredProducts {
  margin: 100px 380px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    h1 {
      flex: 2;
      color:#666565;
      text-transform: capitalize;
    }

    p{
      flex:3;
      color:#666565
    }
  }

  .bottom{
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}